header{
    text-align: center;
    color: #FFFFFF;
    display: grid;
    gap: 4.2rem;
}

header .tutor{
    margin: auto;
}

main{
    background-color: #FFFFFF;
    position: absolute;
    bottom: 0;
    width: 100vw;
    padding-bottom: 2rem;
}

main h1{
    font-size: 1.8rem;
    margin-left: 1.6rem;
}

.dados{
    display: grid;
    gap: 2.7rem;
    margin: 0 5rem;
    text-align: center;
}

.dados input{
    border-radius: 1rem;
    border-color: #9CC9D2;
    padding-left: 1rem;
}

.dados input::placeholder{
    text-align: center;
    opacity: 0.4;
}

.checkbox{
    position: relative;
}

.checkbox input{
    height: 2.4rem;
    width: 2.4rem;
    top: 0;
    left: 0;
    opacity: 0;
    position: absolute;
}

.checkbox label{
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.checkbox input:checked + label::before{
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_701_20)'%3E%3Cpath d='M9 16.17L4.83 12L3.41 13.41L9 19L21 7L19.59 5.59L9 16.17Z' fill='%2342D3FF'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_701_20'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

.checkbox input:focus + label::before{
    outline: 2px solid black;
}

.checkbox label::before{
    content: '';
    display: block;
    width: 2.4rem;
    height: 2.4rem;
    border: .1rem solid #E6E6F0;
    border-radius: .8rem;
}

.checkbox.wrapper{
    display: flex;
    gap: 16px;
    align-items: center;
    margin-bottom: 2.4rem;
}

.botoes{
    display: flex;
    gap: 3.5rem;
    justify-content: center;
}

.botoes a{
    text-decoration: none;
}

.botoes button, a{
    background-color: #075666;
    color: #EDECEC;
    padding: 0 1.6rem;
}

.botoes .maior{
    min-width: 18rem;
    padding: 0.5rem 0;
}